.head{
  background-color: #000000;
  margin: 0;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  line-height: 1;
}

.drop-area{
  border: 2px dashed #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  padding: 15px;
}