.head{
  margin: 0;
  width: 550px;
  border-radius: 15px;
  padding: 10px;
  line-height: 1;
}

.content{
  border: 2px dashed #ccc;
  box-sizing: border-box;
  width: auto;
  height: 10vh;
  padding: 15px;
  border-radius: 8px;
}