<div cdkDropListGroup>


  <div class="container" id="formElements">
    <h2>Form Elements</h2>
    <div
      cdkDropList
      [cdkDropListData]="formElements"
      class="componentList"
      id="formElements"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of formElements" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>


  <div class="container" id="mainForm">
    <h2>Form</h2>

    <div
      cdkDropList
      [cdkDropListData]="mainForm"
      class="componentList"
      id="mainForm"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of mainForm" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>


</div>
