#formElements {
  width: 70px;
  position: fixed;
}

#mainForm {
  margin-left: 90px;
  width: minmax(400px, 50%);
}

.container {
  width: 70%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.formContainer {
  width: 70%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

h3 {
  width: auto;
  height: 45px;
}

.componentList {
  border: solid 1px #ccc;
  min-height: 60px;
  overflow: hidden;
  display: block;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.array-box-elements {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #0000001b;
  font-size: 10px;
}

.array-box-layout {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

button {
  background-color: rgb(104, 85, 224);
  border-radius: 3px;
  color: white;
}
button:hover {
  background-color: #251ee9ed;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.componentList.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
