<div cdkDropListGroup>
  <div class="example-container" id="todo">
    <h2>Form Elements</h2>

    <div
    cdkDropList
    [cdkDropListData]="todo"
    class="example-list"
    id="todo"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container" id="done">
    <h2>Form</h2>

    <div
    cdkDropList
    [cdkDropListData]="done"
      class="example-list"
      id="done"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
    <app-head></app-head>
  </div>
</div>
