<div class="outer">
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
             <div class="panel border bg-white">
               <div class="panel-heading">
                  <h3 class="pt-3 font-weight-bold">Login</h3>

              </div>
              <div class="panel-body p-3">
                  <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>Success!</strong> User login successfully.
                      <button (click)= "removeMessage()" type="button"  data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <form>
                      <!-- <div class="form-group pt-3">
                          <div class="input-field">
                              <span class="fa fa-user p-2"></span>
                              <input type="text" name="username" placeholder="Username" [(ngModel)]="username">

                          </div> -->
                          <div class="form-group pt-3">
                              <div class="input-field">
                                  <span class="fa fa-envelope p-2"></span>
                                  <input matInput type="text" name="email" placeholder="Email" [(ngModel)]="email">
  
                              </div>
                      </div>
                      <div class="form-group pt-3">
                          <div class="input-field">
                              <span class="fa fa-lock p-2"></span>
                              <!-- [type] is property binding  -->
                              <input [type]="type" name="password" placeholder="Password" [(ngModel)]="password">
                              <span (click) = "hideShowPass()"class="fa fa-eye-slash"></span>
                          </div>
                      </div>
                        <div class="form-inline fr mt-4">
                          <a id="forget" class="font-weight-bold">Forget Password?</a>
                        </div>
                        
                        <button type="submit"  class="btn btn-primary btn-block mt-4 w-100"  (click)="handleSubmit1($event)">Login</button> 
                        <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">Sign Up</a></div>

                  </form>
              </div>
              <div class="mx-3 my-3 py-2 bordert">
                  <div class="text-center py-3">
                      <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""></a>
                      <a href="https://www.google.com" target="_blank" class="px-2"><img src="http://freelogopng.com/images/all_img/1657955079google-icon-png.png" alt=""></a>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <div class="containerBig">
  <div class="containerSmall">
    <form class="form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-hint>Your Email Here</mat-hint>
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="passwordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Enter your password"
        />
        <mat-hint>Your Password Here</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="
            passwordFormControl.hasError('minlength') &&
            !passwordFormControl.hasError('required')
          "
        >
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>
      <button routerLink="/home" (click)="login()" class="login">Login</button>
    </form>
  </div>
</div> -->



