.example-section {
  margin: 12px 0;
  background-color: #565656;
  width: 550px;
  border-radius: 5px;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

h3 {
  color: white;
}