.containerBig {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .containerSmall {
    width: 45%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .form {
    flex-direction: column;
    width: 400px;
    margin: 0 auto;

    .full-width {
      width: 100%;
    }

    .Signup{
      width: 100%;
      margin-top: 20px;
      background-color: #251ee9ed;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgba(104, 85, 224, 1);
      }
      &:disabled{
        background-color: rgba(103, 85, 224, 0.515) ;
      }
    }
  }
}
