<h2>Howdy! let's create some forms today🏄🏻‍♂️</h2>
<div class="contain">
  <div class="left">
    <button class="create-form" routerLink="/create-form" mat-button color="primary">
      create form
    </button>
    <button class="viewRes" routerLink="/create-form" mat-button color="primary">
      View Responses
    </button>
  </div>

  <div class="previousforms">
    <h3>Previous Forms</h3>
    <button class="form-button">Form 1</button>
    <button class="form-button">Form 2</button>
    <button class="form-button">Form 3</button>
    <button class="form-button">Form 4</button>
    <button class="form-button">Form 5</button>
  </div>
</div>
