h1 {
  background-color: #1a1c2d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

app-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 5px;
  width: 250px;
  height: 50px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.signup {
  color: white;
  background-color: #251ee9ed;
}

.login {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  width: 0 10px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: 0;
}