.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.radio-container{
  width: 550px;
  background-color: #565656c7;
  border-radius: 5px;
  color: aliceblue;
  padding: 8px;
}

.example-full-width {
  width: 100%;
  width: 550px;
}