<!-- <div class="array-box-layout" *ngFor="let item of mainForm" cdkDrag>
  <ng-container [ngSwitch]="item">
    <app-head #headComponent *ngSwitchCase="'Title'"></app-head>
    <app-short-ans
      #shortAnsComponent
      *ngSwitchCase="'Short Answer'"
    ></app-short-ans>
    <app-number #numberComponent *ngSwitchCase="'Number'"></app-number>
    <app-email #emailComponent *ngSwitchCase="'Email'"></app-email>
    <app-date #dateComponent *ngSwitchCase="'Date'"></app-date>
    <app-single-correct
      #singleCorrectComponent
      *ngSwitchCase="'Single Correct'"
    ></app-single-correct>
    <app-multiple-correct
      #multipleCorrectComponent
      *ngSwitchCase="'Multiple Correct'"
    ></app-multiple-correct>
  </ng-container>
</div> -->
